<ng-container *ngIf="restaurants$ | async as restaurants">
    <div class="card">
        <h2>Restaurant search</h2>
        <section class="search-section">
            <mat-form-field class="search-form-field" appearance="fill">
                <mat-label>Restaurant name</mat-label>
                <input matInput type="text" [(ngModel)]="search" (ngModelChange)="dispatchSearch()">
                <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear"
                    (click)="search=''; dispatchSearch()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-checkbox [(ngModel)]="urgent" class="example-margin">Urgent !</mat-checkbox>
        </section>
        <tks-price-chips-filter (selectionChange)="dispatchSelectedPrices($event)"></tks-price-chips-filter>
       </div>
    <div class="grid">
        <mat-spinner *ngIf="isLoading$ | async" class="spinner"></mat-spinner>
        <tks-restaurant-card *ngFor="let restaurant of restaurants" [restaurant]="restaurant"></tks-restaurant-card>
    </div>
</ng-container>