span.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}

span.nav-link span.name {
    margin-left: 0.75rem;
}

a {
    box-sizing: border-box;
    border-right: 0.25rem solid transparent;
}

a.active {
    box-sizing: border-box;
    color: #52d4b3;
    border-right: 0.25rem solid #52d4b3;
    background-color: rgba(82, 212, 179, 0.1);
}

a:hover {
    color: #52d4b3;
}